<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
  <title>NODE WEEK 6 TASK CRM</title>
<body>
  <%- include('./navbar.ejs') %>
  <div class="container-fluid">
      <div class="col text-center py-3">
        <h1>Delete Customer </h1>
      </div>
      <div class="row g-6">
        <div class="col-6 offset-3 border-secondary shadow py-3 px-5 rounded">
          <form class="form_container" method="post" action="/users/deleteCustomer" enctype="application/x-www-form-urlencoded">
            <!-- <div class="form-group mb-1">
              <label for="name" class="form-label"></label>
              <div class="">
                <input type="name" class="form-control" id="name" placeholder="Full name" name="fullname">
              </div>
            </div> -->
            <div class="form-group mb-1">
              <label for="colFormLabel" class="form-label"></label>
             
                <input type="email" class="form-control" id="colFormLabel" placeholder="Email" name="email">
             
            </div>
            <!-- <div class="form-group mb-1">
              <label for="gender" class="form-label"></label>
              <div class="">
                <input type="text" class="form-control" id="gender" placeholder="gender" name="gender">
              </div>
            </div> -->
            <!-- <div class="form-group mb-1">
              <label for="phone" class="form-label"></label>
              <div class="">
                <input type="text" class="form-control" id="phone" placeholder="phone" name="phone">
              </div>
            </div> -->
            <!-- <div class="form-group mb-1">
              <label for="address" class="form-label"></label>
              <div class="">
                <input type="text" class="form-control" id="address" placeholder="address" name="address">
              </div>
            </div> -->
       
            <!-- <div class="form-group mb-5">
              <label for="notes" class="form-label"></label>
              <div class="">
                <textarea type="text" class="form-control" id="notes" placeholder="notes" name="notes"></textarea>
              </div>
            </div> -->
            <div class="form-group mb-3">
              <div class="text-center">
                <input type="submit" class="btn btn-primary" id="submit" value="Delete Customer" >
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
    

 



  <%- include('./footer.ejs') %>
</body>
</html>

