<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
  <title>NODE WEEK 6 CRM </title>
<body>
  <%- include('./navbar.ejs') %>
<h1>WELCOME TO THE HOMEPAGE</h1>
  <%- include('./footer.ejs') %>
</body>
</html>